*{
  box-sizing: border-box;
  line-height: normal !important;
}

/* Excluir el Cookie Manager de la regla global de line-height */
#cookie-kit-wrapper *, #cookie-kit-wrapper p {
  line-height: 1.5 !important;
}

p{
  line-height: 25.5px !important;
}

html, body{
  background-color: #595959;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body{
  min-height: 100dvh;
}

main{
  background-color: #FAF8F3;
}
